@(title: String)(content: Html)(implicit req: RequestHeader)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
        Press the following buttons to consume all memory on this JVM:

        <ul>
            <li><a href="@routes.Application.zipRandom()">by streaming random data</a></li>
            <li><a href="@routes.Application.manyFutures()">by creating many futures</a></li>
        </ul>

        Recommended usage:
        <code>
            <pre>wget -qO- @routes.Application.zipRandom().absoluteURL() > /dev/null</pre> or
            <pre>curl -silent @routes.Application.zipRandom().absoluteURL() > /dev/null</pre>
        </code>
    </body>
</html>
